.container {
  padding: 2rem;
  text-align: center;
  min-height: 80vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.device-card {
  height: 100%;
}

.error-card {
  max-width: 500px;
  margin: 2rem auto;
}

.spacer {
  flex: 1 1 auto;
}

.mat-mdc-button-base .mat-icon {
    min-height: fit-content;
    flex-shrink: 0;
    font-size: 16px;
    width: 70px;
}

.mat-toolbar-single-row {
    padding: 0 45px;
}